@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Neucha&family=Pacifico&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
<style>

.down-title {
    font-family: pacific
}

.menu {
    font-family: rubik
}

.big-title {
    font-family: neucha
}

.middle-font {
    font-family: rubik

}
.plain-font { 
    font-family: rubik

}

.giant-font {
    font-family: lora
}


.up-name {

}


.down-name {

}

.banner {
    

}

h1 {
    font-family: 
    color: 
}

h2 {
    font-family: rubik
    color: 
}

h3 {
    font-family: rubik
    color: 
}
.article-img {
    max-width: 500px;
    display: block;
    margin: auto;
}

.icon {
    max-width: 150px;
    display: block;
    margin: auto;
}

.carousel img {
    max-width: 350px;
    display: block;
    margin: auto;
}
.product-card img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.galery img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.review img {
    max-width: 400px;
    display: block;
    margin: auto;

}
.tough img {
    max-width: 300px;
    display: block;
    margin: auto;
}



    </style>
